@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700;800&display=swap');

html{
    scroll-padding-top: 9rem;
}
body{
    font-family: 'JetBrains Mono', monospace;
    margin:0;
    padding:0;
    background-color:  rgba(40,44,52,255);

}
#header{
background-color: rgba(33,37,43,255);
border-bottom: solid 1px #585556;
}
#darktoggle{
    margin-top:21px;
}
#darktoggle button{
    background-color: transparent;
    border: none;
}

#language{
    margin-top:27px;
}

.navbar-brand{
    margin-right:0;
    margin-left:1%;
    color: rgba(203,94,45,255);
    font-weight:bold;
}

.navbar-brand:hover{
    color: rgba(203,94,45,255)
}

.nav-link{
    color: rgb(106, 135, 87);
}


.nav-link:hover{
    color: rgba(203,94,45,255)
}

#CV{
    color: rgb(106, 135, 87);
}

body h1{
    color : rgba(203,94,45,255);
    font-weight: bold;

}

#aboutList li{
    margin-bottom:10px;
}

.subset{
margin-top:2%;
margin-bottom:5%
}

.subList2 h3 {
    font-weight:bold;
    color: #8076a8;
}
.subList2 h4{
font-size:15px;
margin-top:-5px;
color:rgb(143, 183, 198);
}

#relC h3{
    font-weight:bold;
    color: #8076a8;
}

.courses{
    overflow:auto;
}

.courses li{
    list-style-type: none;
    text-align:left;
}

#footer{
    background-color: rgba(33,37,43,255);
    border-top: solid 1px #585556;
    color:rgba(203,94,45,255);
    font-size:10px;

}

#footer .row{
    padding:5px;
}
.subList2 li{
    margin-top:25px;
    margin-bottom:25px;
}

.subList2 li ul li{
    margin-bottom:0px;
    margin-top:0;
}

#hobbies{
    display:none;
}

#carouseldiv{
    display: flex;
    align-items:center;
    justify-content: center;
}

#hobbiesCarousel{
    width:75%;
    border: solid 5px #585556;
    border-radius: 20px;
    overflow: hidden;
}
#hobbiesCarousel2{
    width:75%;
    border: solid 5px #585556;
    border-radius: 20px;
    overflow: hidden;
}
.carousel-inner {
    height: 0;
    padding-bottom: 50%;
  }
  
  .carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    width:100%;
    object-fit: cover;
  }
  #hobbies li{
    list-style-type:disc;
    color: rgb(106, 135, 87);
  }
  #boutonback1,
    #boutonnext1{
    filter: invert(100%);
}

  #hobbies h1{
    padding:0;
    margin-left:10px;
    margin-top:20px;
  }
  .clear { 
    clear: both; height: 50px;
 }
 
 #projectList1{
    padding-right:35px;
 }

 #projectList1 li{
    margin-bottom: 15px;
 }
 #projectList2{
    padding-right:35px;
 }

 #projectList2 li{
    margin-bottom: 15px;
 }



@media only screen and (min-width: 480px) and (max-width: 850px){

    .hide{
        display:none;
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px){
    #aboutList li{
        margin-bottom:10px;
    }
    #skillsimg{
        display:none;
    }
    #workimg{
        display:none;
    }
    #hobbiesCarousel{
        width:85%;
    }
    #hobbiesCarousel2{
        width:85%;
    }
    .nav-link{
        margin-left:10px;
    }
}


