@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;700&display=swap');

/* Home */
body {
    margin:0;
    padding:0;
    background-color: rgba(40,44,52,255);
    font-family: 'JetBrains Mono', monospace;
}

body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
  }

.topHead{
    position:relative;
    background-color: rgba(33,37,43,255);
    border-bottom: 2px solid #585556;
    color: rgb(106, 135, 87);
}

#mainHead {
    text-align: center;
}

.topHead h1 {
    font-size: 300%;
    margin:0;
}
.topHead h2 {
    font-size:100%;
    margin:0;
}

.typed-cursor{
    color:rgb(143, 183, 198);
}

.center{
    position:relative;
    padding:105px;

}

#navBar {
    text-align:center;
    list-style: none;
    margin:0;
}

/* Other Pages */

.navBarSec{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navBarSec li{
    padding:10px;
    display: inline;
    font-size:10px
}
.navBarSec a{
    color: rgba(203,94,45,255);
}


a{
    text-decoration: none;
    color:rgb(143, 183, 198);
    font-size: 300%
}
.secPageContent{
    float:left;
    list-style: none;
    padding:10px
}
.secPageMainPoint{
    font-size:50px;
    color: rgba(203,94,45,255);
    margin:0;
}
.placeDate{
    color:rgba(128,118,168,255);
    font-size:20px;
}

.secPageSubList{
    list-style:none;
    color:rgb(143, 183, 198);
    font-size:25px;
    padding-left:10px;
    
}

.subHead{
    margin:15px;
}

.secPage2ndSubList{
    color:rgb(143, 183, 198);
    list-style:none;
    font-size:30px;
    text-align: justify;
    text-justify: inter-word;
    width:705px;
}

.DSList{
    list-style:circle;
}
#stageOpen{
    margin-bottom:20px;
}

.DSListElem{
    margin-bottom:20px;
}
.companyName{
    margin:0;
    color:rgba(128,118,168,255);
    font-size:40px
}

.keywords{
    color: rgba(203,94,45,255);
}

.skills{
    text-align:left;
}

.personalPdiv1{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
}
#websiteImage{
    display:block;
    width:450px;
    border:solid 3px rgba(203,94,45,255);
    border-radius:10%;
    margin-left:5%;
}

.langButton{
    background-color:transparent;
    font-family: 'JetBrains Mono', monospace;
    color:rgba(203,94,45,255);
    border:none;
    font-size:10px
}
.langButtonList{
    float:right;
    color:rgba(203,94,45,255);
    list-style:none;
    margin:0px;
    padding:0px;
    padding-right:10px
}

.langButtonList li{
    display:inline-block;
    font-size:10px
}

.linkedin{
    color:rgba(203,94,45,255);
    float:right;
    margin-right:10px;
    margin-top:-30px;

}
.linkedinsub{
    color:rgba(203,94,45,255);
    float:right;
    margin-right:10px;
    margin-top:-10px;
}